#canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#resources {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: white;
    border-radius: 5px;
}
#resources img {
    vertical-align: middle;
    margin: 0 10px 0 30px;
}