<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css">
        
        <script src="../lib/phaser.js"></script>
        <script src="../lib/lodash.min.js"></script>
        <script src="../lib/jquery.min.js"></script>
        <script src="../lib/jquery-ui.min.js"></script>
        <script src="../lib/mithril.min.js"></script>
        <script data-main="../scripts/main.js" src="../lib/require.js"></script>
        
        <title>Rakentaa</title>
    </head>
    <body>
        <div id="canvas"></div>
        <div id="resources"></div>
    </body>
</html>