#creatures {
    position: absolute;
    right: 0.5em; top: 0.5em;
}
.dialog {
    position: absolute;
    height: 60%;
    width: 50%;
    top: 20%;
    left: 25%;
    display: block;
    z-index: 101;
}
.dialog h1 {
    border: 1px solid rgb(231, 143, 8);
    background: rgb(246, 168, 40)
    url("../css/images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50%
    repeat-x;
    color: #f9fcf9;
    margin: 0;
    padding: 0.2em 0.5em;
    font-size: 1.25em;
}
.dialog > div {
    text-align: center;
    padding: 0.5em 0;
    border: 1px solid rgb(221, 221, 221);
    background: rgb(238, 238, 238)
    url("../css/images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top
    repeat-x;
    color: #333;
}
.buying {
    width: 100%;
    margin: 0 auto;
}
.recruiting table {
    display: inline-table;
}
.recruiting img,
.recruiting input,
.recruiting ul {
    vertical-align: middle;
}
.recruiting ul {
    list-style: none; 
    padding: 0; 
display: inline-block;}
.recruiting li {
    text-align: left;
}
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(102, 102, 102) url("../css/images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
    opacity: .5;
}
.ui-front {
    z-index: 100;
}